* {
    bg-col:         #1e1e2e;
    bg-col-light:   #313244;
    border-col:     #45475a;
    selected-col:   #313244;
    blue:           #89b4fa;
    green:          #a6e3a1;
    red:            #f38ba8;
    yellow:         #f9e2af;
    mauve:          #cba6f7;
    peach:          #fab387;
    teal:           #94e2d5;
    fg-col:         #cdd6f4;
    fg-col2:        #f5c2e7;
    grey:           #6c7086;
    width:          600;
}
